.abc{
    padding: 10px;
}

.a{
    border: 2px solid black;
    padding:20px;
}

.b{
    border: 2px solid black;
    padding:20px;
}

.c{
    border: 2px solid black;
    padding:20px;
}

.d{
    border: 2px solid black;
    padding:20px;
}

.e{
    border: 2px solid black;
    padding:20px;
}

.f{
    border: 2px solid black;
    padding:20px;
}
